button:hover,
button:active {
  color: rgb(97, 60, 8) !important;
  border: none;
  background-color: rgb(240, 213, 116) !important;
}

button:disabled {
  background-color: rgb(108, 87, 28);
  color: #eee;
  opacity: 0.5;
}

.AddForm {
  width: 100%;
  padding-top: 30px;
}

.AppTitle {
  margin-left: 3px;
}
