input {
  padding-left: 2px;
  border: solid 1px #aaa;
  border-radius: 5px;
}

button {
  background-color: orange;
  border-radius: 5px;
  color: #333;
  border: transparent;
}

button:hover {
  background-color: rgb(55, 103, 136);
  opacity: 0.7;
  border: none;
  outline: none;
  box-shadow: none;
}

button:disabled {
  background-color: rgb(47, 80, 105);
  border: #ddd;
  color: #aaa;
  opacity: 0.5;
}

.AddForm {
  width: 100%;
  padding-top: 30px;
}
