.Filter {
  border: solid #ccc 1px;
  border-radius: 5px;
  background-color: #fff;
}

.Arrow {
  font-weight: 700;
  background-color: rgb(194, 57, 153);
  opacity: 0.8;
  color: #fff;
  border-radius: 5px;
}

.TodoList {
  list-style: none;
  margin-bottom: 10px;
}

input {
  margin-right: 3px;
  height: 30px;
  padding: 2px 0 0 2px;
  border: solid rgb(50, 82, 107) 1px;
  border-radius: 5px;
}

.TodoListTitle,
.TodoListDetails {
  width: 220px;
}

.TodoListDeadline,
.TodoListCreatedAt {
  width: 100px;
}

.TodoListStatus {
  width: 130px;
  height: 30px;
  background-color: #fff;
  border: solid rgb(50, 82, 107) 1px;
  border-radius: 5px;
  margin-right: 3px;
}

.TodoListDeadline,
.TodoListCreatedAt {
  width: 100px;
  margin: 0 3px 0 0;
}

.EditFormBtn {
  padding: 3px 5px;
  min-width: 65px;
  background-color: rgb(50, 82, 107);
  border-radius: 5px;
  margin-right: 3px;
  color: #fff;
}

.CancelBtn {
  font-size: 0.7rem;
  height: 30px;
}
